<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="PreEntrega-3" />
        <meta name="author" content="Felipe Zalcman" />
        
        {% block titulo_pestañas %}
        <title>Pagina Principal</title>
        {% endblock titulo_pestañas %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static  'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static  'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
        {% if user.is_authenticated %}
                <a class="navbar-brand" href="{% url 'home' %}">Pagina Principal</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'login' %}">Login</a>  
            <a class="navbar-brand" href="{% url 'register' %}">Register</a>
        {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        {% block navbar %}
                        <!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Pagina Principal</a></li>-->
                        <li class="nav-item"><a class="nav-link" href="{% url 'users' %}">Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cheques' %}">Cheques</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'clientes' %}">Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'pagos' %}">Pagos Pendientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user_settings' %}">User Settings</a></li>
                        <li class="nav-item"><a class="nav-link" style="color:red">{{user.username}}</a></li>
                        {% endblock navbar %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static  'assets/dolares_no_abrir.webp' %}" alt="..." />
                {% block titulo %}
                <h1 class="text-white fs-3 fw-bolder">Mi primera pagina web</h1>
                <p class="text-white-50 mb-0"></p>
                {% endblock titulo %}
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        
                        {% block texto_1 %}  
                        <h2>La idea</h2>
                        <p class="lead">La idea de hacer este proyecto surge hablando con mi papa.</p>
                        <p class="mb-0">Con esto intento hacer a mi padre lo mas organizado posible para tambien poder ser eficiente en su trabajo.</p>
                        {% endblock texto_1 %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {% block texto_2 %}
                        <h2>Su trabajo</h2>
                        <p class="lead">El es viajante, vende y cobra a sus clientes y, al manejar un gran cantidad de ellos, le es dificil manejar todo.</p>
                        {% endblock texto_2 %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white"></p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static  'js/scripts.js' %}"></script>
    </body>
</html>
